<div class="paginationContainer" fxLayout="row">
  <div  fxFlex="50%" fxFlexAlign="start">
  	<div id="page_info">
 			 Showes {{currentNumberOfFirstRow}} - {{currentNumberOfLastRow}} of {{page.totalElements}}
  	</div>
  </div>

  <div  fxFlex="50%" fxLayoutAlign="end">
  		<div>
  			<ul class="pagination">
          <li class="paginate_button page-item next" [ngClass]="getClassForFirstPageLink()" id="firstPage">
            <a [routerLink]="" (click)="getCustomPage(1)" class="page-link">First</a>
          </li>
  				<li class="paginate_button page-item previous" [ngClass]="getClassForFirstPageLink()" id="dtBasicExample_previous">
  					<a [routerLink]="" (click)="previousPage()"  class="page-link"><<</a>
  				</li>
  				<li class="paginate_button page-item" [ngClass]="getActivePage(page != undefined ? page.pageable.pageNumber + 1 : 0)">
  					<a [routerLink]="" (click)="getCustomPage(page != undefined ? page.pageable.pageNumber + 1 : 0)" class="page-link">{{page != undefined ? page.pageable.pageNumber + 1 : 0}}</a>
  				</li>
  				<li class="paginate_button page-item next" [ngClass]="getClassForLastPageLink()" id="dtBasicExample_next">
  					<a [routerLink]="" (click)="nextPage()" class="page-link">>></a>
  				</li>
          <li class="paginate_button page-item next" [ngClass]="getClassForLastPageLink()" id="lastPage">
            <a [routerLink]="" (click)="getCustomPage(page.totalPages)" class="page-link">Last</a>
          </li>
  			</ul>
  		</div>
  </div>
</div>
