<div class="dataTables_length bs-select" id="dtBasicExample_length">
  	<div id="labelShowEntries">
  		<span>Show:</span>
 	</div>

	 <div id ="selectEntries">
  		<select (change)="changePageSize($event.target.value)"
               ng-init="selected = options[0]"
               name="dtBasicExample_length"
               aria-controls="tasksTable"
               class="custom-select custom-select-sm form-control form-control-sm">
        <option *ngFor="let pageSize of pageSizes" value="{{pageSize.id}}">{{pageSize.size}}</option>
  		</select>
	</div>
</div>
