<div  width="850px">
  <div id="headPagination" class="col-9" width="600px">
      <app-add-task (addTask)="addTask($event)"></app-add-task>
      <app-show-limited-tasks
        (pageSizeEvent)="refreshPageWithNewPageSize($event)"
        class="col-xs-auto col-sm-auto col-md-auto"></app-show-limited-tasks>
  </div>
  <div class="w-100"></div>
  <div>
    <ag-grid-angular
      style = "width: 850px; height: 600px; padding-top: 10px;"
      class = "ag-theme-balham"
      [columnDefs] = "colmDef"
      [animateRows] = "true"
      [enableColResize] = "true"
      [rowDragManaged] = "true"
      (gridReady) = "onGridReady($event)"
      [defaultColDef]="defaultColDef"
      [rowData]="rowData"
      [context]="context"
      [frameworkComponents]="frameworkComponents"

    ></ag-grid-angular>
  </div>
  <div class="w-100"></div>
</div>

<div app-page-navigation
     style="margin-top: 10px"
     [maxNumber]="3"
     (nextPageEvent)="getNextPage()"
     (previousPageEvent)="getPreviousPage()"
     (customPageEvent)="getCustomPage($event)"
>
</div>



