
<div id="headPagination" class="row justify-content-between" width="100%">
  <div class="col-xs-auto col-sm-auto col-md-auto">
      <app-add-task (addTask)="addTask($event)"></app-add-task>
      <app-show-limited-tasks></app-show-limited-tasks>
  </div>
   <app-search></app-search>
</div>

<div class="row justify-content-sm-center" >
<table id="tasksTable" class="table table-striped table-bordered table-sm" cellspacing="0" >
  <thead class="thead-dark">
    <tr>
      <th class="th-sm">Id</th>
      <th class="th-sm">Description</th>
      <th class="th-sm">Done</th>
      <th class="th-sm">Trash</th>
    </tr>
  </thead>

  <tbody>
      <tr app-task
          *ngFor="let task of tasks"
          [task]="task"
          (tasksEE)="deleteTask($event)"
      >
      </tr>
  </tbody>

  <tfoot class="thead-dark">
  <tr>
    <th class="th-sm">Id</th>
    <th class="th-sm">Description</th>
    <th class="th-sm">Done</th>
    <th class="th-sm">Trash</th>
  </tr>
  </tfoot>
</table>
</div>
<div app-page-navigation
     class="row  justify-content-between"
     [maxNumber]="3"
     [page]="page"
     (nextPageEvent)="getNextPage()"
     (previousPageEvent)="getPreviousPage()"
     (pageSizeEvent)="getUpdatedPageSize($event)"
     (customPageEvent)="getCustomPage($event)"
>
</div>
