<mat-list class="profile_list_info" role="list">
  <div class="row_item">
    <div class="col_left">
      <mat-list-item>
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <span>Name</span>
      </mat-list-item>
    </div>
    <div class="col_rigth">
      <span>Vova</span>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row_item">
    <div class="col_left">
      <mat-list-item>
        <mat-icon mat-list-icon>alternate_email</mat-icon>
        <span>Email</span>
      </mat-list-item>
    </div>
    <div class="col_rigth">
      <span>@df.com</span>
    </div>
  </div>

  <mat-divider></mat-divider>



  <div class="row_item">
    <div class="col_left">
      <mat-list-item>
        <mat-icon mat-list-icon>call</mat-icon>
        <span> Number</span>
      </mat-list-item>
    </div>
    <div class="col_rigth">
      <span>345345345</span>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row_item">
    <div class="col_left">
      <mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>
        <span>Address</span>
      </mat-list-item>
    </div>
    <div class="col_rigth">
      <span>New York</span>
    </div>
  </div>

</mat-list>
